In [2]:
import pandas as pd
import pickle

In [3]:
data = pd.read_csv('Groceries.csv', sep=',')

In [4]:
data.head()

   Member_number        Date   itemDescription  year  month  day  day_of_week
0           1808  2015-07-21    tropical fruit  2015      7   21            1
1           2552  2015-05-01        whole milk  2015      5    1            4
2           2300  2015-09-19         pip fruit  2015      9   19            5
3           1187  2015-12-12  other vegetables  2015     12   12            5
4           3037  2015-01-02        whole milk  2015      1    2            4

In [5]:
len(data['Member_number'].unique()), len(data['itemDescription'].unique())  # Check unique number of customers and items

(3898, 167)

In [6]:
# Create baskets --> assume one purchase per day per customer
groceries = data.groupby(['Member_number', 'Date'])['itemDescription'].apply(list).reset_index()

In [7]:
groceries

,Member_number,Date,itemDescription
0,1000,2014-06-24,"[whole milk, pastry, salty snack]"
1,1000,2015-03-15,"[sausage, whole milk, semi-finished bread, yog..."
2,1000,2015-05-27,"[soda, pickled vegetables]"
3,1000,2015-07-24,"[canned beer, misc. beverages]"
4,1000,2015-11-25,"[sausage, hygiene articles]"
...,...,...,...
14958,4999,2015-05-16,"[butter milk, whipped/sour cream]"
14959,4999,2015-12-26,"[bottled water, herbs]"
14960,5000,2014-09-03,"[fruit/vegetable juice, onions]"
14961,5000,2014-11-16,"[bottled beer, other vegetables]"
14962,5000,2015-10-02,"[soda, root vegetables, semi-finished bread]"

In [8]:
all_baskets = groceries['itemDescription'].tolist()  # Create list of all baskets

In [9]:
# Create dictionary of baskets for each customer
members_baskets = groceries.groupby('Member_number')['itemDescription'].apply(list).reset_index()
members_baskets = dict(zip(members_baskets['Member_number'], members_baskets['itemDescription']))

In [10]:
# Create dictionary of unique items bought for each customer
members_items = data.groupby('Member_number')['itemDescription'].apply(set).reset_index()
members_items = dict(zip(members_items['Member_number'], members_items['itemDescription']))

In [11]:
with open('baskets.pkl', 'wb') as f:
    pickle.dump(all_baskets, f)

with open('baskets_by_user.pkl', 'wb') as f:
    pickle.dump(members_baskets, f)

with open('items_by_user.pkl', 'wb') as f:
    pickle.dump(members_items, f)

In [12]:
with open('groceries.dat', 'w') as f:
    for basket in all_baskets:
        f.write(' '.join(basket) + '\n')